In [1]:
import numpy as np

# mean speed of the all rides

In [2]:
taxi = np.genfromtxt("nyc_taxis.csv",delimiter=",",skip_header = True)

In [3]:
speed = taxi[:,7]/(taxi[:,8]/3600)

In [4]:
mean_speed=speed.mean()

In [5]:
print(mean_speed)

32.24258580925573

# numbers of rides taken in february(feb code is 2)

In [6]:
rides_feb = taxi[taxi[:,1]==2,1]
print(rides_feb.shape[0])

13333

# number of rides where tipped more than 50

In [7]:
print(taxi[taxi[:,-3] >50,-3].shape[0])

16

# numbers of rides where dropped was jfk airport(jfk code is 2)

In [8]:
print(taxi[taxi[:,6]==2,6].shape[0])

11832